.control-icon.rp-names-undo i.fas.fa-undo {
	color: #2d9be4;
}

.control-icon.rp-names-refresh i.fas.fa-sync {
	color: #7b4ed4;
}

.control-icon.rp-names-saved-names i.fas.fa-list {
	color: #ad8cef;
}

.control-icon.rp-names-description i.fas.fa-file-alt {
	color: #e93d98;
}

.ai-overlay {
	position: absolute;
	bottom: -5px;
	right: -5px;
	font-size: 0.3em;
	color: white;
	background: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.count-overlay {
	position: absolute;
	bottom: -5px;
	right: -5px;
	font-size: 0.3em;
	color: white;
	background: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.control-icon.rp-creations-ai-desc.pulsate i.fas.fa-wand-sparkles,
.ai-overlay.pulsate,
.count-overlay.pulsate {
	color: #b41ee6; /* Choose your starting color */
}

.pulsate {
	animation: pulsate 10s infinite;
}

@keyframes pulsate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

.control-icon.highlight-border {
	border: 2px solid #e61e1e !important;
}

.rp-description-header {
	font-size: 1.2em;
	font-weight: bold;
	color: #7b4ed4;
}

.rp-description-body {
	font-size: 1em;
	color: #e93d98;
}

.rp-creations-button-container {
	display: flex;
	margin-bottom: 10px;
}

.rp-creations-back-button,
.rp-creations-enhance-button,
.rp-creations-amend-button,
.rp-creations-append-button,
.rp-creations-refresh-button,
.rp-creations-save-button,
.rp-creations-forward-button {
	flex: 1;
}

.rp-creations-back-button,
.rp-creations-enhance-button,
.rp-creations-amend-button,
.rp-creations-append-button,
.rp-creations-refresh-button,
.rp-creations-save-button {
	margin-right: 10px;
}

.custom-dropdown {
	border: 1px solid #ccc;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	z-index: 10;
}

.choice-item,
.add-new-item {
	padding: 5px;
	cursor: pointer;
	background-color: #f9f9f9;
}

.choice-item:hover,
.add-new-item:hover {
	background-color: #e0e0e0;
}
